:root {
  --dk-gray:#19191c;
  --dk-gray-2:#29292e;
  --dk-gray-3:#131313;
  --blk: #000000;
  --off-white: #e9e8ef;
  --red: #E7346C;
  --blue: #61A0F0;
  --lt-blue: #cddcf3;
  --purple: #9353F6;
}

/*linear-gradient(35deg, transparent, var(--red) 5%, var(--purple) 10%, var(--red), transparent 99%);*/


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

html {
  scroll-behavior:smooth;
  scroll-padding: var(--scroll-padding, 5.3rem);
}

body {
  font-size:18px;
  font-family:'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:var(--off-white);
  font-weight:200;
  background-color:var(--dk-gray);
}

a {transition:0.2s;}

a:focus:not(:active) {
  outline:2px solid var(--red);
  outline-offset:2px;
}

a:focus:not(:focus-visible) {
  outline:none;
}

p:last-child {
  margin-bottom:0;
}

.page-container {
  width:min(1200px, 100% - 4rem);
  margin-inline:auto;
  transition: height 0.2s linear;
}

.main-grid {
  display:grid;
  gap:2rem;
}

#email-form {
  display:grid;
  gap:1rem;
}

.form-item {
  padding:0.5rem;
  background-color:var(--dk-gray-2);
  border:1px solid var(--blk);
  color:var(--off-white);
}

@media (min-width:991px) {

  .page-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100dvh;
    transition: height 0.2s linear;
  }

  .main-grid {
    grid-template-columns:repeat(2, 1fr);
  }
  
}